# Assignment-4 (Web Scraping)

### Answer-1

In [1]:
# importing necessary

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of url 

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [3]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []


# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [4]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [5]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""[20]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear ‚Äì Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.15

In [6]:
driver.close()

## Answer-2

In [7]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [8]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [9]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [10]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time

In [11]:
Fixtures

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
2,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Greenfield International Stadium,",28 SEP 2022,7:30 PM

In [12]:
driver.close()

## Answer-3

In [13]:
driver=webdriver.Chrome('chromedriver.exe')

# get webpage
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [14]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [15]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [16]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]/strong"):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]"):
    desc.append(i.text)

In [17]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=desc
Selenium_Exception

,Exception name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

In [18]:
driver.close()

Not able to fetch all the exceptions .cant find the codes for it in inspect option

## Answer-4

In [19]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [20]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [21]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [22]:
#Clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click

In [24]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [25]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [26]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

GSDP 17-18 IS NOT AVAILABLE ON THE WEBSITE.

In [27]:
driver.close()

## Answer-5

In [28]:
driver=webdriver.Chrome('chromedriver.exe')
url=('https://github.com/')
driver.get(url)

In [29]:
# Click on explore

explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [30]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [31]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [32]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [33]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [34]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [35]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,danielgindi / Charts,Beautiful charts for iOS/tvOS/OSX! The Apple s...,150,"[Swift, Objective-C, Other]"
1,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",11,"[Rust, Other]"
2,TheAlgorithms / Python,All Algorithms implemented in Python,831,[Python]
3,SerenityOS / ladybird,Ladybird web browser,16,"[C++, CMake, Java]"
4,divamgupta / diffusionbee-stable-diffusion-ui,Diffusion Bee is the easiest way to run Stable...,-,"[Jupyter Notebook, Python, Other]"
5,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,-,[Jupyter Notebook]
6,EbookFoundation / free-programming-books,üìö Freely available programming books,"2,002",[]
7,twitter / compose-rules,Static checks to aid with a healthy adoption o...,8,[Kotlin]
8,n8n-io / n8n,Free and source-available fair-code licensed w...,302,"[TypeScript, Vue, SCSS, JavaScript, HTML, Dock..."
9,InterviewReady / system-design-resources,These are the best resources for System Design...,5,[]
10,moby / moby,Moby Project - a collaborative project for the...,"2,178","[Go, Shell, Dockerfile, PowerShell, Makefile, ..."
11,Alamofire / Alamofire,Elegant HTTP Networking in Swift,240,[Swift]
12,AykutSarac / jsoncrack.com,üîÆ Seamlessly visualize your JSON data instantl...,14,"[TypeScript, Other]"
13,pocketbase / pocketbase,Open Source realtime backend in 1 file,15,"[Go, Svelte, SCSS, JavaScript, HTML, Shell]"
14,ascoders / weekly,ÂâçÁ´ØÁ≤æËØªÂë®Âàä„ÄÇÂ∏Æ‰Ω†ÁêÜËß£ÊúÄÂâçÊ≤ø„ÄÅÂÆûÁî®ÁöÑÊäÄÊúØ„ÄÇ,67,[JavaScript]
15,jellyfin / jellyfin,The Free Software Media System,761,"[C#, Other]"
16,apptension / developer-handbook,An opinionated guide on how to become a profes...,4,[]
17,vasanthk / how-web-works,What happens behind the scenes when we type ww...,8,[]
18,rust-lang / rust,Empowering everyone to build reliable and effi...,"4,017","[Rust, JavaScript, HTML, Python, Makefile, She..."
19,dotnet / core,Home repository for .NET Core,302,"[PowerShell, Shell]"
20,microsoft / playwright,Playwright is a framework for Web Testing and ...,294,"[TypeScript, HTML, C++, CSS, JavaScript, Objec..."
21,gothinkster / realworld,"""The mother of all demo apps"" ‚Äî Exemplary full...",73,[Shell]
22,SerenityOS / serenity,The Serenity Operating System üêû,751,"[C++, JavaScript, HTML, C, Shell, CMake, Other]"
23,jwasham / coding-interview-university,A complete computer science study plan to beco...,273,[]
24,joeyballentine / chaiNNer,A flowchart/node-based image processing GUI ai...,10,"[TypeScript, Python, JavaScript, Other]"

In [36]:
driver.close()

## Answer-6

In [43]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [44]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [45]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [46]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [47]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [48]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [49]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [50]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [51]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n23,Harry Styles,1,1,23
1,Bad Habit\nSteve Lacy\n2\n2\n10,Steve Lacy,2,2,10
2,Late Night Talking\nHarry Styles\n12\n3\n16,Harry Styles,12,3,16
3,Sunroof\nNicky Youre & dazy\n5\n4\n15,Nicky Youre & dazy,5,4,15
4,About Damn Time\nLizzo\n3\n1\n21,Lizzo,3,1,21
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n96\n12...,Morgan Wallen,88,42,5
96,Country On\nLuke Bryan\n-\n76\n3,Luke Bryan,,,
97,Static\nSteve Lacy\n-\n98\n1,Steve Lacy,83,18,18
98,Billie Eilish.\nArmani White\n-\n99\n1,Armani White,,,
99,Sin Fin\nRomeo Santos & Justin Timberlake\n-\n...,Romeo Santos & Justin Timberlake,93,84,4

In [52]:
driver.close()

## Answer-7

In [53]:
driver=webdriver.Chrome('chromedriver.exe')

driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [54]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [55]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()     
time.sleep(3)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='inpWrap']//input"}
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x006178B3+2193587]
	Ordinal0 [0x005B0681+1771137]
	Ordinal0 [0x004C41A8+803240]
	Ordinal0 [0x004F24A0+992416]
	Ordinal0 [0x004F273B+993083]
	Ordinal0 [0x0051F7C2+1177538]
	Ordinal0 [0x0050D7F4+1103860]
	Ordinal0 [0x0051DAE2+1170146]
	Ordinal0 [0x0050D5C6+1103302]
	Ordinal0 [0x004E77E0+948192]
	Ordinal0 [0x004E86E6+952038]
	GetHandleVerifier [0x008C0CB2+2738370]
	GetHandleVerifier [0x008B21B8+2678216]
	GetHandleVerifier [0x006A17AA+512954]
	GetHandleVerifier [0x006A0856+509030]
	Ordinal0 [0x005B743B+1799227]
	Ordinal0 [0x005BBB68+1817448]
	Ordinal0 [0x005BBC55+1817685]
	Ordinal0 [0x005C5230+1856048]
	BaseThreadInitThunk [0x7707FA29+25]
	RtlGetAppContainerNamedObjectPath [0x771C7B5E+286]
	RtlGetAppContainerNamedObjectPath [0x771C7B2E+238]

Not able to find any code on website further

## Answer-8

In [56]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [57]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [58]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [59]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [60]:
driver.close()

## Answer-9

In [61]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [62]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [63]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,049,300"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,233"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"968,258"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"288,820"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,395"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"49,556"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"60,561"
97,Criminal Minds,(2005‚Äì2020),"Crime, Drama, Mystery",42 min,8.1,"194,776"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,021"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,428"

In [64]:
driver.close()

## Answer-10

In [65]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [66]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [67]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [68]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [69]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [70]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
        
      
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [71]:
# Creating dataframe 

ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [72]:
driver.close()